/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail

.env
.env.*
!.env.example

.phpunit.result.cache
.phpactor.json

Homestead.json
Homestead.yaml

npm-debug.log
yarn-error.log

/auth.json

/.idea
/.vscode
/.fleet
/.nova
/.zed

.claude/
